{{ define "main" }}
<head>
    <meta name="viewport" content="width=device-width">
    <script src="https://giscus.app/client.js"
            data-repo="ffute/img"
            data-repo-id="R_kgDOKcwfMw"
            data-mapping="number"
            data-term="1"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
       
    </head>
    <body>
      <div id="giscus" class="giscus">
    </body>
    
{{ end }}
